# This file serves as an example for Gena text2sql.data-labeling tool required environment variables.
# Copy this file as ".env" and replace the values with actual secrets.

# MySQL root password (Required for initializing MySQL)
MYSQL_ROOT_PASSWORD=

# MySQL user password (Used for application database access)
MYSQL_PASSWORD=

# Admin authentication code (Required to register an ADMIN when a user registration request is made)
ADMIN_CODE=

# Redis Variables
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_TIME=
JWT_REFRESH_TOKEN_TIME=