# This file serves as an example for Gena text2sql.data-labeling tool required environment variables.
# Copy this file as ".env" and replace the values with actual secrets.

# MySQL root password (Required for initializing MySQL)
MYSQL_ROOT_PASSWORD=

# MySQL user password (Used for application database access)
MYSQL_PASSWORD=

# Admin authentication code (Required to register an ADMIN when a user registration request is made)
ADMIN_CODE=

# Redis Variables
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password